extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordBtn 녹화 시작
        form(action=`${routes.videos}${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Video File
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="제목", name="title", required=true)
            textarea(name="description", placeholder="설명", required=true)
            input(type="submit", value="동영상 업로드")